/*  poppins google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/* css variables */
:root {
  --body-bg-color: #fff;
  --card-primary-color: #00308F;
  --card-secondary-color: #00308F;
  --btn-bg-color: #00308F;
  --secondary-color: rgb(155, 145, 145);
  --icon-bg-01: #f7a025;
  --icon-bg-02: #2d70ab;
  --icon-bg-03: #fe1161;
  --icon-bg-04: #0389fe;

  --text-small: 1rem;
  --text-heading: 2rem;
}

/* reset default browser design */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base style */

body {
  font-family: "Poppins", sans-serif;
  background: var(--body-bg-color);
}

section {
  padding: 50px 0px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background: var(--card-secondary-color);
}

/* header style start */
.header {
  width: 100%;
  height: 120px;
  line-height: 80px;
  background-color: #00308F;
}
.container {
  width: 1140px;
  margin: auto;
  padding: 0px 15px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile__menu i {
  color: #fff;
  font-size: 1.3rem;
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.logo-container {
    max-width: 100px; /* Adjust the value based on the size you want */
    /* margin: auto; Center the image horizontally */
    margin: 1rem 0;
  }
  
  .logo-container img {
    width: 100%;
    height: auto;
    display: block; /* Remove any default spacing below the image */
    margin: auto; /* Center the image horizontally */
  }
.menu {
  display: flex;
  column-gap: 2rem;
}

.mobile__menu {
  display: none;
}
.nav__list .nav__item a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.search__box span i {
  color: #fff;
}

.active__nav {
  color: var(--secondary-color) !important;
}

/* header style end */

/* hero section style start */

.hero__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hero__content,
.hero__img {
  width: 50%;
}

.hero__img img{
    width: 100%;
  }

.hero__content h2 {
  color: black;
  font-size: var(--text-heading);
  line-height: 55px;
  margin-bottom: 30px;
}

.hero__content p {
  color: black;
  opacity: 75%;
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.btn {
  border: none;
  padding: 10px 30px;
  background: var(--btn-bg-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.hero__img {
  text-align: right;
}

/* hero section style end */

/* about us section start */
.about__us {
    background: transparent !important;
    padding: 0 !important;
    align-items: center;
  }
  
  .about__us-text {
    color: var(--secondary-color) !important;
    margin-bottom: 15px;
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .about__img {
    text-align: right;
  }
  
  /* about us section end */
  /* search engine section start */
.search__engine-wrapper {
    display: flex;
    background: var(--card-secondary-color);
    padding: 30px;
    border-radius: 5px;
    justify-content: space-between;
  }
  
  .search__img {
    width: 45%;
  }
  .search__img img {
    width: 100%;
  }
  
  .search__engine-content {
    width: 50%;
  }
  
  .search__engine-content h2 {
    color: black;
    font-size: var(--text-heading);
    margin-bottom: 20px;
  }
  
  .search__engine-content p {
    color: black;
    opacity: 75%;
    font-size: var(--text-small);
    line-height: 30px;
  }
  
  .search__engine-text02 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  /* search engine section end */

  .whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .whatsapp-icon img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    border-radius: 50%; /* Optional: Apply border-radius for a circular shape */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: Add a shadow effect */
  }

/* our programs section starts */

  .our__team-top {
    text-align: center;
  }
  
  .our__team-top h2 {
    font-size: var(--text-heading);
    color: black;
    margin-bottom: 10px;
  }
  
  .our__team-top p {
    color: black;
    opacity: 75%;
    line-height: 30px;
    margin-bottom: 40px;
  }
  
  .single__team-img {
    margin: auto;
    height: 200px;
  }
  
  .single__team-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .single__team {
    width: 250px;
    background: var(--card-secondary-color);
    border-radius: 15px;
  }
  
  .social__icons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .single__team-content h5 {
    font-size: var(--text-small);
    font-weight: 500;
    color: #fff;
    padding: 1rem;
  }
  
  .single__team-content p {
    font-size: 0.8rem;
    color: #fff;
    opacity: 75%;
    padding: 1rem;
  }
  
  .social__icons span i {
    color: #fff;
    opacity: 75%;
  }
  
  .team__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* choose us section style start */

.choose__us-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .section_top {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .section_top h2 {
    color: black;
    font-size: var(--text-heading);
    margin-bottom: 15px;
  }
  
  .section_top p {
    color: #fff;
    opacity: 75%;
    line-height: 30px;
  }
  
  .choose__us-box {
    width: 250px;
    padding: 25px;
    background: var(--card-primary-color);
    border-radius: 5px;
  }
  
  .choose__img {
    background: var(--icon-bg-01);
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .choose__img img {
    width: 100%;
    border-radius: 5px;
  }
  
  .choose__us-content h4 {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  
  .choose__us-content p {
    color: #fff;
    opacity: 75%;
    font-size: 0.9rem;
  }
  
  .choose__img-box-02 {
    background: var(--icon-bg-02);
  }
  
  .choose__img-box-03 {
    background: var(--icon-bg-03);
  }
  
  .choose__img-box-04 {
    background: var(--icon-bg-04);
  }
  
  /* choose us section style end */

  /* counter section start */
.counter__wrapper {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .counter__number {
    font-size: 3rem;
    font-weight: 600;
    color: gray;
  }
  
  .counter__text {
    font-size: var(--text-small);
    font-weight: 600;
    color: black;
  }
  /* counter section end */

  hr{
    margin: 0.5rem;
  }